In [1]:
import pandas as pd
hse28 = pd.read_csv('hse28_df_v1.csv')

In [2]:
hse28.head(20)

   region      price   construction_area      saleable_area
0      東涌    售 775 萬    建築面積 : 984呎@7876   實用面積: 734呎@10559
1     鑽石山    售 598 萬           建築面積 : --   實用面積: 383呎@15614
2      屯門    售 628 萬           建築面積 : --   實用面積: 488呎@12869
3     將軍澳  售 1,080 萬           建築面積 : --   實用面積: 625呎@17280
4     太古城    售 900 萬   建築面積 : 591呎@15228   實用面積: 504呎@17857
5      奧運  售 5,200 萬  建築面積 : 1971呎@26383  實用面積: 1523呎@34143
6      大圍  售 1,150 萬   建築面積 : 980呎@11734   實用面積: 739呎@15562
7      藍田    售 855 萬   建築面積 : 680呎@12574   實用面積: 537呎@15922
8     將軍澳    售 908 萬           建築面積 : --   實用面積: 708呎@12825
9     九龍灣    售 570 萬   建築面積 : 443呎@12866   實用面積: 322呎@17702
10    天水圍    售 458 萬           建築面積 : --   實用面積: 446呎@10269
11    天水圍    售 538 萬           建築面積 : --    實用面積: 550呎@9782
12    天水圍    售 600 萬           建築面積 : --    實用面積: 629呎@9539
13     元朗    售 490 萬    建築面積 : 700呎@7000           實用面積: --
14    天水圍    售 580 萬    建築面積 : 653呎@8882   實用面積: 489呎@11861
15     屯門    售 410 萬    建築面積 : 700呎@5857    實用面積: 650呎@6308
16    將軍澳    售 748 萬   建築面積 : 695呎@10762   實用面積: 525呎@14248
17     北角    售 610 萬           建築面積 : --    實用面積: 612呎@9967
18     火炭    售 915 萬   建築面積 : 717呎@12761   實用面積: 555呎@16486
19     屯門    售 348 萬    建築面積 : 467呎@7452   實用面積: 325呎@10708

In [11]:
hse28['region'].unique()
#Ready transfer those values to the name of 18 districts

array(['Islands', 'Wong Tai Sin', 'Tuen Mun', 'Sai Kung', 'Eastern',
       'Yau Tsim Mong', 'Sha Tin', 'Kwun Tong', 'Yuen Long',
       'Sham Shui Po', 'Kowloon City', 'Tsuen Wan', 'Kwai Tsing',
       'Tai Po', 'Wan Chai', 'Central and Western', 'North', 'Southern',
       'Eastern半山', '江門', '珠海', 'Wan Chai半山', '日本', '英國', '泰國'],
      dtype=object)

In [16]:
hse28['region'].nunique()

18

In [5]:
hse28.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11955 entries, 0 to 11954
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   region             11955 non-null  object
 1   price              11955 non-null  object
 2   construction_area  11955 non-null  object
 3   saleable_area      11955 non-null  object
dtypes: object(4)
memory usage: 373.7+ KB

In [6]:
hse28['region'] = hse28['region'].str.replace('深井' , '')

In [7]:
hse28['region'] = hse28['region'].str.strip('()')

In [12]:
#Kowloon

#Yau Tsim Mong
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['奧運', '旺角', '九龍站', '石硤尾', '佐敦', '大角咀', '太子', '尖沙咀', '油麻地'], 'Yau Tsim Mong'), 
    regex=True
)

#Sham Shui Po
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['美孚', '荔枝角', '長沙灣', '又一村', '深水埗'], 'Sham Shui Po'), 
    regex=True
)

#Kowloon City
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['紅磡', '何文田', '啟德', '黃埔', '土瓜灣', '九龍塘', '九龍城'], 'Kowloon City'), 
    regex=True
)

#Wong Tai Sin
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['鑽石山', '牛池灣', '新蒲崗', '樂富', '黃大仙'], 'Wong Tai Sin'), 
    regex=True
)

#Kwun Tong
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['藍田', '九龍灣', '牛頭角', '油塘', '觀塘'], 'Kwun Tong'), 
    regex=True
)

In [13]:
#Hong Kong Island

#Central and Western
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['西營盤', '西半山', '堅尼地城', '上環', '中環', '山頂', '石塘咀', '中半山', '金鐘'], 'Central and Western'), 
    regex=True
)

#Wan Chai
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['銅鑼灣', '跑馬地', '大坑', '跑馬地半山', '灣仔半山', '灣仔', 'Wan Chai半山'], 'Wan Chai'), 
    regex=True
)

#Eastern
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['太古城', '北角', '鰂魚涌', '柴灣', '筲箕灣', '炮台山', '北角半山', '西灣河', '天后', '杏花村', '東區半山', 'Eastern半山'], 'Eastern'), 
    regex=True
)

#Southern
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['鴨脷洲', '香港仔', '淺水灣', '黃竹坑', '石澳', '大潭', '薄扶林', '碧瑤灣', '壽臣山', '赤柱', '南區'], 'Southern'), 
    regex=True
)

In [14]:
#New Territories

#Kwai Tsing
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['葵涌', '青衣', '荔景', '葵芳'], 'Kwai Tsing'), 
    regex=True
)


#Tsuen Wan
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['深井', '馬灣', '大窩口', '荃灣'], 'Tsuen Wan'), 
    regex=True
)

#Yuen Long
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['天水圍', '元朗'], 'Yuen Long'), 
    regex=True
)

#Islands
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['東涌', '愉景灣', '其他離島', '坪洲', '南大嶼山'], 'Islands'), 
    regex=True
)

#North
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['上水', '粉嶺'], 'North'), 
    regex=True
)

#Tai Po
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['太和', '大埔'], 'Tai Po'), 
    regex=True
)

#Sha Tin
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['大圍', '火炭', '馬鞍山', '沙田'], 'Sha Tin'), 
    regex=True
)

#Sai Kung
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['將軍澳', '清水灣', '西貢'], 'Sai Kung'), 
    regex=True
)

#Tuen Mun
hse28['region'] = hse28['region'].replace(
    dict.fromkeys(['屯門'], 'Tuen Mun'), 
    regex=True
)

In [15]:
hse28 = hse28[hse28.region != '江門']
hse28 = hse28[hse28.region != '珠海']
hse28 = hse28[hse28.region != '日本']
hse28 = hse28[hse28.region != '英國']
hse28 = hse28[hse28.region != '泰國']

In [17]:
hse28['location'] = hse28['region'].copy()

In [18]:
hse28['location'] = hse28['location'].replace(
    dict.fromkeys(['Central and Western', 'Eastern', 'Southern', 'Wan Chai'], 'Hong Kong Island'), 
    regex=True
)

In [19]:
hse28['location'] = hse28['location'].replace(
    dict.fromkeys(['Yau Tsim Mong', 'Sham Shui Po', 'Kowloon City', 'Kwun Tong', 'Wong Tai Sin'], 'Kowloon'), 
    regex=True
)

In [20]:
hse28['location'] = hse28['location'].replace(
    dict.fromkeys(['Kwai Tsing', 'Tsuen Wan', 'Tuen Mun', 'Yuen Long', 'North', 'Tai Po', 'Sha Tin', 'Sai Kung', 'Islands'], 'New Territories'), 
    regex=True
)

In [21]:
hse28['location'].unique()

array(['New Territories', 'Kowloon', 'Hong Kong Island'], dtype=object)

In [22]:
hse28['price'] = hse28['price'].str.replace('(已售)' , '')

/Users/paulcheng/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [23]:
hse28['price'] = hse28['price'].str.strip('()')

In [24]:
hse28['price'] = hse28['price'].str.replace(',', '')

In [25]:
hse28['price'] = hse28['price'].str.replace(' 萬', '0000')

In [26]:
hse28['price'] = hse28['price'].str.replace('售', '')

In [27]:
hse28['price'] = hse28['price'].apply(lambda x: int(x.strip()))

In [28]:
hse28['price'].unique()

array([ 7750000,  5980000,  6280000, ..., 62800000, 25710000,  3860000])

In [29]:
hse28['construction_area'] = hse28['construction_area'].str.replace('建築面積 :', '')
hse28['saleable_area'] = hse28['saleable_area'].str.replace('實用面積:', '')

In [30]:
hse28['construction_area'] = hse28['construction_area'].apply(lambda x: x.split('呎@')[0])

In [31]:
hse28['construction_area'] = hse28['construction_area'].str.replace('--', '0')

In [32]:
hse28['construction_area'] = hse28['construction_area'].apply(lambda x: x.split('呎')[0])

In [33]:
hse28['construction_area'] = hse28['construction_area'].apply(lambda x: int(x.strip()))

In [34]:
hse28['saleable_area'] = hse28['saleable_area'].apply(lambda x: x.split('呎@')[0])

In [35]:
hse28['saleable_area'] = hse28['saleable_area'].str.replace('--', '0')

In [36]:
hse28['saleable_area'] = hse28['saleable_area'].apply(lambda x: int(x.strip()))

In [37]:
hse28 = hse28.rename(columns={"region": "district", "construction_area": "gf_area", "location": "region"})

In [44]:
hse28.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5491 entries, 0 to 11953
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   district       5491 non-null   object
 1   price          5491 non-null   int64
 2   gf_area        5491 non-null   int64
 3   saleable_area  5491 non-null   int64
 4   region         5491 non-null   object
dtypes: int64(3), object(2)
memory usage: 257.4+ KB

In [39]:
hse28 = hse28[hse28['gf_area'] >= 200]

In [41]:
hse28 = hse28[hse28['saleable_area'] >= 200]

In [43]:
hse28 = hse28[hse28['price'] >= 2000000]

In [48]:
hse28['unitrate_saleable_area'] = hse28['price'] / hse28['saleable_area']
hse28['unitrate_saleable_area']

0        10558.583106
4        17857.142857
5        34143.138542
6        15561.569689
7        15921.787709
             ...
11945    10187.500000
11946    10459.770115
11947    16632.860041
11951    17605.633803
11953    14102.564103
Name: unitrate_saleable_area, Length: 5491, dtype: float64

In [49]:
hse28.head(20)

,district,price,gf_area,saleable_area,region,unitrate_saleable_area
0,Islands,7750000,984,734,New Territories,10558.583106
4,Eastern,9000000,591,504,Hong Kong Island,17857.142857
5,Yau Tsim Mong,52000000,1971,1523,Kowloon,34143.138542
6,Sha Tin,11500000,980,739,New Territories,15561.569689
7,Kwun Tong,8550000,680,537,Kowloon,15921.787709
9,Kwun Tong,5700000,443,322,Kowloon,17701.863354
14,Yuen Long,5800000,653,489,New Territories,11860.940695
15,Tuen Mun,4100000,700,650,New Territories,6307.692308
16,Sai Kung,7480000,695,525,New Territories,14247.619048
18,Sha Tin,9150000,717,555,New Territories,16486.486486
19,Tuen Mun,3480000,467,325,New Territories,10707.692308
20,Yuen Long,4850000,576,442,New Territories,10972.850679
21,Tuen Mun,4580000,479,363,New Territories,12617.079890
24,Yuen Long,5880000,811,630,New Territories,9333.333333
25,Sham Shui Po,10380000,1000,743,Kowloon,13970.390310
26,Yuen Long,5280000,714,540,New Territories,9777.777778
27,Kwun Tong,6880000,633,496,Kowloon,13870.967742
28,Kwun Tong,4800000,397,282,Kowloon,17021.276596
30,Yuen Long,5500000,704,550,New Territories,10000.000000
31,Sha Tin,5100000,515,401,New Territories,12718.204489

In [50]:
hse28.to_csv('hse28_dc.csv', index=False, header=True)